<!-- sidebar.html -->
<div class="flex">
  <aside
    :class="$store.sidebar.open ? 'w-[15%]' : 'w-[5%]'"
    class="transition-all duration-300 h-full border-r fixed z-50 {{ 'dark:bg-gray-900 border-gray-200 dark:border-gray-700' if current_theme == 'dark' else 'bg-gray-100' }}"
  >
    <div class="flex items-center justify-around h-20 shadow-md">
      <span
        x-show="$store.sidebar.open"
        x-transition
        class="text-xl font-bold truncate {{ 'text-gray-800 dark:text-white' if current_theme == 'dark' else 'text-gray-200 dark:text-black'}}"
        >{{ 'SPK Pramuka' if current_lang == 'id' else 'Scout DSS' }}</span
      >
      <button
        @click="$store.sidebar.toggle()"
        class="p-2 rounded cursor-pointer {{ 'hover:bg-gray-200 dark:hover:bg-gray-800' if current_theme == 'dark' else 'hover:bg-gray-300 dark:hover:bg-gray-300'}}"
      >
        <i
          class="fas fa-bars 
                {{ 'text-gray-800 dark:text-white' 
                if current_theme == 'dark' else 'text-gray-200 dark:text-black'}}"
        ></i>
      </button>
    </div>

    <nav class="px-4 py-6">
      <ul class="space-y-4">
        <!-- Dashboard -->
        <li>
          <a
            href="{{ url_for('admin_dashboard') }}"
            class="flex items-center gap-3 p-2 rounded-lg relative group transition {{ 'hover:bg-gray-100 dark:hover:bg-gray-800' if current_theme == 'dark' else 'hover:bg-gray-300 dark:hover:bg-gray-300' }} {% if request.endpoint == 'admin_dashboard' %}{{ 'bg-gray-200 dark:bg-gray-800' if current_theme == 'dark' else 'bg-gray-300 dark:bg-gray-300' }}{% endif %}"
          >
            <i
              class="fa-solid fa-house w-5 {{ 'text-gray-700 dark:text-gray-300' if current_theme == 'dark' else 'text-black'}}"
            ></i>
            <span
              x-show="$store.sidebar.open"
              class="{{ 'text-gray-800 dark:text-gray-200' if current_theme == 'dark' else 'text-black'}}"
              >{{ 'Beranda' if current_lang == 'id' else 'Home' }}</span
            >
            <span
              x-show="!$store.sidebar.open"
              class="absolute left-full ml-2 px-2 py-1 text-sm rounded shadow-lg opacity-0 group-hover:opacity-100 transition-opacity duration-300 whitespace-nowrap z-99 {{ 'bg-gray-800 text-white' if current_theme == 'dark' else 'bg-gray-200 text-black' }}"
            >
              {{ 'Beranda' if current_lang == 'id' else 'Home' }}
            </span>
          </a>
        </li>

        {% for menu in [ ('admin_users', 'fas fa-users', 'Manajemen Pengguna',
        'User Management'), ('admin_manajemen_seleksi', 'fa-solid
        fa-calendar-days', 'Manajemen Seleksi', 'Selection Management'),
        ('admin_kriteria', 'fas fa-sliders-h', 'Data Kriteria', 'Criteria
        Data'), ('admin_peserta', 'fas fa-user-check', 'Data Peserta',
        'Participant Data'), ('admin_notifikasi', 'fas fa-bell', 'Notifikasi',
        'Notifications'), ('admin_hasil_seleksi', 'fa-solid
        fa-square-poll-vertical', 'Hasil Seleksi', 'Selection Results'),
        ('admin_log_aktivitas', 'fa-solid fa-chart-line', 'Log Aktivitas',
        'Activity Log'), ('admin_settings', 'fas fa-cogs', 'Pengaturan',
        'Settings') ] %}
        <li>
          <a
            href="{{ url_for(menu[0]) }}"
            class="flex items-center gap-3 p-2 rounded-lg relative group transition {{ 'hover:bg-gray-100 dark:hover:bg-gray-800' if current_theme == 'dark' else 'hover:bg-gray-300 dark:hover:bg-gray-300' }} {% if request.endpoint == menu[0] %}{{ 'bg-gray-200 dark:bg-gray-800' if current_theme == 'dark' else 'bg-gray-300 dark:bg-gray-300' }}{% endif %}"
          >
            <i
              class="{{ menu[1] }} w-5 {{ 'text-gray-700 dark:text-gray-300' if current_theme == 'dark' else 'text-black'}}"
            ></i>
            <span
              x-show="$store.sidebar.open"
              class="{{ 'text-gray-800 dark:text-gray-200' if current_theme == 'dark' else 'text-black'}}"
            >
              {{ menu[2] if current_lang == 'id' else menu[3] }}
            </span>
            <span
              x-show="!$store.sidebar.open"
              class="absolute left-full ml-2 px-2 py-1 text-sm rounded shadow-lg 
             opacity-0 group-hover:opacity-100 transition-opacity duration-300
             whitespace-nowrap z-50
             {{ 'bg-gray-800 text-white' if current_theme == 'dark' else 'bg-gray-200 text-black' }}"
            >
              {{ menu[2] if current_lang == 'id' else menu[3] }}
            </span>
          </a>
        </li>
        {% endfor %}

        <!-- Logout -->
        <li>
          <a
            href="{{ url_for('logout') }}"
            class="flex items-center gap-3 p-2 rounded-lg relative group text-red-500 transition hover:bg-red-100 dark:hover:bg-red-900 hover:text-white"
          >
            <i class="fas fa-sign-out-alt w-5"></i>
            <span x-show="$store.sidebar.open"
              >{{ 'Keluar' if current_lang == 'id' else 'Logout' }}</span
            >
            <span
              x-show="!$store.sidebar.open"
              class="absolute left-full ml-2 px-2 py-1 text-sm rounded shadow-lg opacity-0 group-hover:opacity-100 transition-opacity duration-300 whitespace-nowrap z-99 {{ 'bg-gray-800 text-white' if current_theme == 'dark' else 'bg-gray-200 text-black' }}"
            >
              {{ 'Keluar' if current_lang == 'id' else 'Logout' }}
            </span>
          </a>
        </li>
      </ul>
    </nav>
  </aside>
</div>
